@media screen and (max-width: 800px) {
  html {
    font-size: 125px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 120px;
  }
}

@media screen and (max-width: 414px) {
  html {
    font-size: 64.6875px;
  }
}

@media screen and (max-width: 412px) {
  html {
    font-size: 64.375px;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 58.59375px;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 56.25px;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 50px;
  }
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Microsoft YaHei";
  position: relative;
}

a {
  text-decoration: none;
}

.card {
  background: #fff;
  margin: 2.6rem 0 0.8rem 0;
  position: relative;
  box-shadow: 0 0.04rem 0.08rem 0 rgba(0, 0, 0, 0.2), 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}

.card .header h1 {
  position: absolute;
  top: -155px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: #bce7ff;
}

.card .header input {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  outline: none;
  color: inherit;
  border: 1px solid #999;
  box-sizing: border-box;
  padding: 16px 16px 16px 60px;
  /* border: none;*/
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.card .todos .todo {
  width: 100%;
  height: 0.8rem;
  font-size: 1.6rem;
  border-bottom: 1px solid #ededed;
}

.card .todos .todo .check {
  width: 0.8rem;
  height: 0.8rem;
  float: left;
  background: url(../images/8572479_165534361000_2_03.png) no-repeat;
  background-size: 100%;
}

.card .todos .todo .todo.ng-enter {
  height: 0;
}

.card .todos .todo .todo.ng-enter-active {
  height: 0.8rem;
}

.card .todos .todo .todo.ng-leave {
  height: 0.8rem;
}

.card .todos .todo .todo.ng-leave-active {
  height: 0;
}

.card .todos .todo input {
  display: block;
  width: 100%;
  height: 0.39rem;
  margin-left: 0.8rem;
  outline: none;
  border: 1px solid #333;
  box-sizing: border-box;
  padding-left: 0.4rem;
  display: none;
  font-size: 1.6rem;
}

.card .todos .todo p {
  float: left;
  font-size: 1.6rem;
  line-height: 0.8rem;
  padding-left: 0.4rem;
}

.card .todos .todo .del {
  width: 0.4rem;
  height: 0.48rem;
  background: url(../images/27S58PICv3X.jpg) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.2rem;
  margin: auto;
}

.card .todo.wancheng .check {
  background: url(../images/8572479_165534361000_2_05.png) no-repeat;
  background-size: 100%;
}

.card .todo.wancheng p {
  color: #ccc;
  text-decoration: line-through;
}

.card .todo.edit .check, .card .todo.edit p, .card .todo.edit .del {
  display: none;
}

.card .todo.edit input {
  display: block;
}

.card .footer {
  width: 100%;
  height: 2rem;
  line-height: 0.6rem;
  margin-top: 0.4rem;
  color: orange;
}

.card .footer .left {
  height: 0.6rem;
  text-align: center;
  width: 0.6rem;
  float: left;
  font-size: 1.4rem;
  line-height: 0.6rem;
  border-radius: 0.1rem;
  border: 1px solid #333;
  color: orange;
  background: url(../images/12024882_092144612000_2_03.png) no-repeat center center;
  background-size: cover;
}

.card .footer .right {
  height: 0.6rem;
  text-align: center;
  width: 2.8rem;
  float: right;
  border-radius: 5px;
  border: 1px solid #333;
  font-size: 14px;
  background: url(../images/12024882_092144612000_2_03.png) no-repeat center center;
  background-size: 100%;
}

.card .footer span {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #333;
  text-align: center;
  float: left;
  margin: 0 7px;
  background: url(../images/12024882_092144612000_2_03.png) no-repeat;
  background-size: 100%;
}

.card .footer .red {
  background: url(../images/12024882_092144612000_2_09.png) no-repeat center center;
  background-size: 100%;
  color: #98eaff;
}
